body{
    background-color: #c5d5cb;
}
#calculator{
    
    background-color: #9fa8a3;
    width: 42vw;
    height: 80vh;
    margin-top: 10vh;
    margin-left: 30vw;
    border:  1vh solid black;

}
#screen{
    width: 42vw;
    height: 20vh;
    background-color: white;
    border-bottom:  1vh solid black;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-size: x-large;

    
}

#buttons{
    width: 42vw;
    height: 60vh;
    display: flexbox;
    
}
#buttons button{
    width: 9vw;
    height: 12.5vh;
    margin-top: 2vh;
    margin-left: 1vw;
   
}
